body{
	margin: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}



.hidden{
	display: none;
}

.cards-container{
	display: flex;
	margin: 0;
	padding: 2em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

}

.listItem{
	width: 40%;
	margin: 1em;
}

.listItem:hover{
	background-color: lightblue;
}

.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}



